
@media all and (min-width: 1280px) and (max-width: 1580px) {
  .header{
    padding:0;
  }
  .buy-button{
    display:none;
  }
  .button{
    display:none;
  }
  .imagine{
    display:none;
  } 
  .imagine2{
    display:none;
  }
  .socialmedia{
    height: 700px;
  }
  .circle-spinning{
    display:none;
  }
  .square-spinning{
    display:none;
  }
  .triangle-spinning{
    display:none;
  }
  .floating-image{
    display:flex;
    flex-wrap: wrap;
    width:550px;
    align-items: center;
    justify-content: center;
    position:static;
    margin:auto;
  }
  .coding-image{
    position:static;
  }
  .text-box{
    text-align: center;
    justify-content: center;
   align-items: center;
   width: 100%;
  }
  .OurWork{
    display:flex;
    justify-content: space-evenly;
  }
  .WebsiteDevelopment{
    margin-bottom:30px;
  }
  .WebsiteDesign{
    margin-bottom:30px;
  }
  .prezentation{
    margin-bottom:400px;
  }
  .gradient-pipe{
    display:none;
  }
}
@media all and (min-width: 1024px) and (max-width: 1280px) { 
  .header{
    padding:0;
  }
  .buy-button{
    display:none;
  }
  .title-follow{
    font-size:1.3em;
  }
  .button-follow a{
    font-size:1.8em;
  }
  .imagine{
    display:none;
  } 
  .imagine2{
    display:none;
  }
  .button{
    display:none;
  }
  .gradient-pipe{
    display:none;
  }
  .circle-spinning{
    display:none;
  }
  .square-spinning{
    display:none;
  }
  .triangle-spinning{
    display:none;
  }
.floating-image{
  display:flex;
  flex-wrap: wrap;
  width:550px;
  align-items: center;
  justify-content: center;
  position:static;
  margin:auto;
}
.coding-image{
  position:static;
}
.text-box{
  text-align: center;
  justify-content: center;
 align-items: center;
 width: 100%;
}
.WebsiteDevelopment{
  margin-bottom:30px;
}
.WebsiteDesign{
  margin-bottom:30px;
}
.prezentation{
  margin-bottom:600px;
}
.sell h2{
  font-size: 1.5em;
}
.OurWork{
  display:flex;
  justify-content: space-evenly;
}
.pachete{
  display:flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.socialmedia{
  width:800px;
  height: 400px;
  margin-bottom:20px;
}
.websiteclasic{
  width:830px;
  margin-bottom:20px;
}
.websitemaintenance{
  width:800px;
  height: 330px;
}
.project h1{
  font-size:2.5em;
}
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .header{
    padding:0;
  }
  .buy-button{
    display:none;
  }
  .imagine{
    display:none;
  } 
  .imagine2{
    display:none;
  }
  .title-follow{
    font-size:1em;
  }
  .button-follow a{
    font-size:1.4em;
  }
  .button{
    display:none;
  }
  .gradient-pipe{
    display:none;
  }
  .circle-spinning{
    display:none;
  }
  .square-spinning{
    display:none;
  }
  .triangle-spinning{
    display:none;
  }
.top-nav{
  display:flex;
  justify-content: space-around;
  font-size:0.7em;
  width: 100%;
}
.header{
  height: 775px;
}
.floating-image{
  display:flex;
  flex-wrap: wrap;
  width:550px;
  align-items: center;
  justify-content: center;
  position:static;
  margin:auto;
}
.coding-image{
  position:static;
}
.text-box{
  text-align: center;
  justify-content: center;
 align-items: center;
 width: 100%;
}
.WhatWeDo h1{
  justify-content: center;
}
.OurWork{
  align-items: center;
  justify-content: center;
}
.WebsiteDevelopment{
  margin-bottom:30px;
}
.WebsiteDesign{
  margin-bottom:30px;
}
.prezentation{
  margin-bottom:600px;
}
.pachete{
  display:flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.socialmedia{
  margin-bottom: 20px;
}
.websiteclasic{
  margin-bottom: 20px;
}
.project-sites{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}
.miere{
  margin-bottom:20px;
}
.project{
  height: 850px;
}
.project p{
  margin-bottom:150px;
}
.project h1{
  margin-bottom:10px;
}
 }

@media all and (min-width: 480px) and (max-width: 768px) {
  .header{
    padding:0;
  }
  .instagram{
    flex-wrap: wrap;
    height: 200px;
  }
  .title-follow{
    font-size:1em;
    height:auto;
    margin-left:10px;
    margin-right:10px;
    text-align: center;
  }
  .button-follow a{
    font-size:1em;
    padding: 15px 20px;
  }
  .buy-button{
    display:none;
  }
  .imagine{
    display:none;
  } 
  .imagine2{
    display:none;
  }
  .button{
    display:none;
  }
  .gradient-pipe{
    display:none;
  }
  .circle-spinning{
    display:none;
  }
  .square-spinning{
    display:none;
  }
  .triangle-spinning{
    display:none;
  }
.top-nav{
  display:none;
}
.OurWork{
  justify-content: center;
}
.floating-image{
  display:flex;
  flex-wrap: wrap;
  width:400px;
  align-items: center;
  justify-content: center;
  position:static;
  margin:auto;
}
.text-box{
  text-align: center;
  justify-content: center;
 align-items: center;
 width: 100%;
}
.text-box h1{
  font-size: 1.5em;
}
.text-box h2{
  font-size: 1em;
}
.coding-image{
  position:static;
}
.WebsiteDevelopment{
  margin-bottom:30px;
}
.WebsiteDesign{
  margin-bottom:30px;
}
.prezentation{
  margin-bottom:600px;
}
.pachete{
  display:flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.socialmedia{
  margin-bottom: 20px;
}
.websiteclasic{
  margin-bottom: 20px;
}
.project-sites{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}
.miere{
  margin-bottom:20px;
}
.project{
  height: 850px;
}
.project h1{
  margin-bottom:150px;
}
.title-of-issues h1{
  font-size:2.5em;
}
.ways-to-contact{
  font-size:0.8em;
  display:flex;
}
.copyright{
  width:100px;
}
.container-website-details{
  width:300px;
  justify-content: center;
}
.copyright p{
  font-size:0.8em;
}
.copyright span{
  font-size:1em;
}
.project h1{
  margin-bottom:5px;
}
.project p{
  margin-bottom:150px;
}
 }

 @media all and (max-width: 480px) { 
  .header{
    padding:0;
  }
  .instagram{
    flex-wrap: wrap;
    height: 200px;
  }
  .title-follow{
    font-size:1em;
    height:auto;
    margin-top:20px;
    margin-left:10px;
    margin-right:10px;
    text-align: center;
  }
  .button-follow a{
    font-size:1em;
    padding: 15px 20px;
  }
  .buy-button{
    display:none;
  }
  .imagine{
    display:none;
  } 
  .imagine2{
    display:none;
  }
  .button{
    display:none;
  }
  .circle-spinning{
    display:none;
  }
  .square-spinning{
    display:none;
  }
  .triangle-spinning{
    display:none;
  }
  .top-nav{
    display:none;
  }
  .floating-image{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position:static;
    width:100%;
  }
  .gradient-pipe{
    display:none;
  }
  .text-box{
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
  }
  .sell{
    width:100%;
  }
  .sell h1{
    font-size:1.4em;
    font-weight: bold;
  }
  .sell h2{
    font-size:1.3em;
  }
  .text-box h1{
    font-size: 1em;
  }
  .text-box h2{
    font-size: 0.8em;
  }
  .coding-image{
    position:static;
  }
  .WebsiteDevelopment{
    height: 400px;
    margin-bottom:30px;
  }
  .icon{
    height: 50px;
    width:24px;
  }
  .icon i{
    font-size:0.75em;
  }
  .WebsiteDesign{
    margin-bottom:30px;
  }
  .prezentation{
    margin-bottom:800px;
  }
  .pachete{
    display:flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 30px;
  }
  .socialmedia{
    margin-bottom: 20px;
    margin-right: 0;
    width:300px;
  }
  .websiteclasic{
    margin-bottom: 20px;
    margin-right: 0;
    width:300px;
  }
  .websitemanagement{
    width:300px;
    margin-bottom: 30px;
  }
  .websitemaintenance{
    margin-right: 0;
  }
  .project-sites{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width:300px;
  }
  .miere{
    margin-bottom:20px;
    width:300px;
  }
  .wedesign{
    width:300px;
  }
  .project{
    height: 850px;
    display:none;
  }
  .title-of-issues h1{
    font-size:2.5em;
  }
  .ways-to-contact{
    font-size:0.8em;
    display:flex;
    display:none;
  }
  .copyright{
    width:100px;
  }
  .container-website-details{
    width:300px;
    justify-content: center;
  }
  .copyright p{
    font-size:0.8em;
  }
  .copyright span{
    font-size:1em;
  }
  .title-of-issues{
    font-size:0.8em;
  }
  .issue-fill a{
    font-size:1em;
  }
  .OurWork{
    flex:1;
  }
}
@media all and (max-width: 420px){
  .header{
    padding:0;
  }
  .buy-button{
    display:none;
  }
  .imagine{
    display:none;
  } 
  .imagine2{
    display:none;
  }
  .button{
    display:none;
  }
  .circle-spinning{
    display:none;
  }
  .square-spinning{
    display:none;
  }
  .triangle-spinning{
    display:none;
  }
  .text-box{
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .floating-image{
    display:flex;
    flex-wrap: wrap;
    width:350px;
    align-items: center;
    justify-content: center;
    position:static;
    margin:auto;
  }
  .sell{
    width:350px;
  }
  .gradient-pipe{
    display:none;
  }
}
@media all and (max-width: 350px){
  .header{
    padding:0;
  }
  .buy-button{
    display:none;
  }
  .imagine{
    display:none;
  } 
  .imagine2{
    display:none;
  }
  .button{
    display:none;
  }
  .circle-spinning{
    display:none;
  }
  .square-spinning{
    display:none;
  }
  .triangle-spinning{
    display:none;
  }
  .floating-image{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    position:static;
  }
  .text-box{
    width:100%;
    align-items: center;
    text-align: center;
  }
  .text-box h1{
    width:250px;
    margin-right:0;
    font-size:0.9em;
    display:inline-block;
  }
  .sell{
    width:100%;
    display:inline-block;
    position:relative;
    margin-top:200px;
  }
  .OurWork{
    font-size:0.8em;
    align-content: center;
    flex-direction: column;
  }
  .WebsiteDevelopment{
    width:230px;
    margin-bottom:30px;
  }
  .WebsiteDesign{
    width:230px;
    margin-bottom:30px;
  }
  .WebsiteManagement{
    width:230px;
    margin-bottom:30px;
  }
  .websitemaintenance{
    margin-bottom: 50px;;
  }
  .title-of-issues h1{
    font-size:1.5em;
    line-height: 30px;
  }
  .gradient-pipe{
    display:none;
  }
}
@media all and (max-width: 250px){
  .circle-spinning{
    display:none;
  }
  .instagram{
    flex-wrap: wrap;
    height: 200px;
  }
  .title-follow{
    font-size:1em;
    height:auto;
    margin-top:20px;
    margin-left:10px;
    margin-right:10px;
    text-align: center;
  }
  .button-follow a{
    font-size:1em;
    padding: 15px 20px;
  }
  .buy-button{
    display:none;
  }
  .imagine{
    display:none;
  } 
  .imagine2{
    display:none;
  }
  .button{
    display:none;
  }
  .square-spinning{
    display:none;
  }
  .triangle-spinning{
    display:none;
  }
  .gradient-pipe{
    display:none;
  }
  .socialmedia{
    margin-bottom: 20px;
    margin-right: 0;
    width:250px;
  }
  .websiteclasic{
    margin-bottom: 20px;
    margin-right: 0;
    width:250px;
  }
  .websitemaintenance{
    width:250px;
    margin-bottom: 30px;
  }
  
}
