.facebook {
  background-color: rgb(247, 250, 48);
  color: orange;
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 50px;
  transition: opacity 0.15s;
  
}
.facebook:hover {
  opacity: 0.8;
}

.poza {
  width: 200px;
  cursor: pointer;
  margin-left:30px;
}
.contactati {
  background-color: rgb(233, 111, 29);
  color: white;
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 50px;
  transition: opacity 0.15s;
}
.contactati:hover {
  opacity: 0.8;
}
.description {
  color:white;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size:40px;
  font-weight: 500;
  text-decoration: none;
  line-height: 90px;
  margin-top:30px;
}
.name {
  font-family: 'Quicksand', sans-serif;
  color:white;
  font-size:90px;
  font-weight: bold;
  text-decoration:none;
  text-align: center;
  margin-top:225px;
}
.Nume {
  display:flex;
  justify-content: center;
  align-items:center;
}
.Descriere {
  display:flex;
  justify-content: center;
}
.Discover {
  background-color: rgb(92, 92, 235);
  color:white;
  font-size:32px;
  font-weight: bold;
  font-family: arial;
  text-align: center;
  padding:15px 30px;
  border-radius: 20px;
  cursor:pointer;
  margin-top:30px;
  transition: opacity 0.15s;
  text-decoration: none;
  margin-bottom:500px;
}
html {
  scroll-behavior: smooth;
}
.Discover:hover {
  opacity: 0.7;
}
.Descopera {
  display:flex;
  justify-content: center;
}
.header {
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  margin-top:20px;
  align-items: center;
}
.logo {
  width:200px;
}
.facebook-redirect {
  width:150px;
  margin-left:700px;
  
}
.InfoRedirectA {
  font-family:'Roboto', sans-serif;
  color:white;
  font-size:32px;
  text-decoration: none;
  cursor:pointer;
  margin-left:100px;
  font-weight: bold;
  background-color:rgb(218, 127, 8);
  padding:10px 30px;
  border-radius:50px;
}
