
.triplebox {
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.firstbox {
  display:flex;
  flex:1;
  justify-content: center;
  flex-wrap:wrap;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-left:30px;
  margin-right: 30px;
  margin-top:30px;
  height:800px;
  border-radius: 30px;
  font-size:40px;
  font-weight: bold;
  font-family: 'Nunito Sans', sans-serif;
  color:rgb(238, 221, 70);
  text-align: center;
  padding:0;
}
.description-poliflora {
  font-size:24px;
  margin-top:20px;
  color:rgb(233, 194, 66);
  display:inline-block;
  font-weight: bold;
  font-family: 'Nunito Sans', sans-serif;
}
.pozacuborcan {
  width:400px;
  height:400px;
  
}
.borcanul1 {
  object-fit:contain;
  max-width: 170px;
  margin-top:20px;
}
.ComandaButon {
  background-color: rgb(255, 85, 85);
  padding:12px 15px;
  border-radius:15px;
  color:rgb(165, 232, 255);
  cursor:pointer;
  transition: background-color 0.7s linear;
  position:relative;
  text-decoration: none;
}
.ComandaButon:hover {
  background-color:rgb(255, 110, 110);
}
.ComandaButon:before {
  content:"";
  position: absolute;
  width:100%;
  height: 100%;
  background: rgb(255, 128, 128);
  left:0;
  top:0;
  z-index: -1;
  transition:transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}
.secondbox {
  display:flex;
  flex-direction: column;
  flex:1;
  background-color:white;
  margin-left:30px;
  margin-right: 30px;
  margin-top:30px;
  height:800px;
  border-radius: 30px;
  font-size:40px;
  font-weight: bold;
  font-family: 'Nunito Sans', sans-serif;
  color:rgb(238, 221, 70);
  text-align: center;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  padding:0;
}
.descriptionmana {
  font-size:24px;
  margin-top:20px;
  color:rgb(233, 194, 66);
  display:inline-block;
  font-weight: bold;
  font-family: 'Nunito Sans', sans-serif
}
.pozacuborcan2{
  width:300px;
  height: 400px;
}
.borcanul2 {
  object-fit:contain;
  max-width: 170px;
  margin-top:20px;
}


.ComandaButon {
  background-color: rgb(255, 85, 85);
  padding:12px 15px;
  border-radius:15px;
  color:rgb(165, 232, 255);
  cursor:pointer;
  transition: background-color 0.7s linear;
  position:relative;
}
.ComandaButon:hover {
  background-color:rgb(255, 110, 110);
}
.ComandaButon:before {
  content:"";
  position: absolute;
  width:100%;
  height: 100%;
  background: rgb(255, 128, 128);
  left:0;
  top:0;
  z-index: -1;
  transition:transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}

.thirdbox {
  display:flex;
  flex:1;
  justify-content: center;
  flex-wrap:wrap;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-left:30px;
  margin-right: 30px;
  margin-top:30px;
  height:800px;
  border-radius: 30px;
  font-size:40px;
  font-weight: bold;
  font-family: 'Nunito Sans', sans-serif;
  color:rgb(238, 221, 70);
  padding:0;
  text-align:center;
}
.description-rapita {
  font-size:24px;
  margin-top:20px;
  color:rgb(233, 194, 66);
  display:inline-block;
  font-weight: bold;
  font-family: 'Nunito Sans', sans-serif;
}
.ComandaButon {
  background-color: rgb(255, 85, 85);
  padding:12px 15px;
  border-radius:15px;
  color:rgb(165, 232, 255);
  cursor:pointer;
  transition: background-color 0.7s linear;
  position:relative;
}
.ComandaButon:hover {
  background-color:rgb(255, 110, 110);
}
.ComandaButon:before {
  content:"";
  position: absolute;
  width:100%;
  height: 100%;
  background: rgb(255, 128, 128);
  left:0;
  top:0;
  z-index: -1;
  transition:transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}
.pozacuborcan3{
  width:300px;
  height: 400px;
}
.borcanul3 {
  object-fit:contain;
  max-width: 250px;
  margin-top:30px;
}
.tripleboxtwo {
  display:flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom:200px;
}
.fourthbox {
    display:flex;
    flex:1;
    justify-content: center;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin-left:30px;
    margin-right: 30px;
    margin-top:30px;
    height:800px;
    border-radius: 30px;
    font-size:40px;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
    color:rgb(238, 221, 70);
    text-align: center;
    padding:0;
}
.description-Propolis{
  font-size:24px;
  margin-top:20px;
  color:rgb(233, 194, 66);
  display:inline-block;
  font-weight: bold;
  font-family: 'Nunito Sans', sans-serif;
}
.pozacupropolis {
  width:300px;
  height: 400px;
}
.propolis {
  object-fit:contain;
  max-width: 250px;
  margin-top:30px;
}
.ComandaButon {
  background-color: rgb(255, 85, 85);
  padding:12px 15px;
  border-radius:15px;
  color:rgb(165, 232, 255);
  cursor:pointer;
  transition: background-color 0.7s linear;
  position:relative;
}
.ComandaButon:hover {
  background-color:rgb(255, 110, 110);
}
.ComandaButon:before {
  content:"";
  position: absolute;
  width:100%;
  height: 100%;
  background: rgb(255, 128, 128);
  left:0;
  top:0;
  z-index: -1;
  transition:transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}
.fifthbox {
  display:flex;
    flex:1;
    justify-content: center;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-left:30px;
    margin-right: 30px;
    margin-top:30px;
    height:800px;
    border-radius: 30px;
    font-size:40px;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
    color:rgb(238, 221, 70);
    text-align: center;
    padding:0;
}
.description-catina {
  font-size:24px;
  margin-top:20px;
  color:rgb(233, 194, 66);
  display:inline-block;
  font-weight: bold;
  font-family: 'Nunito Sans', sans-serif;
}
.pozacucatina {
  width:300px;
  height: 400px;
}
.catina {
  object-fit:contain;
  max-width: 250px;
  margin-top:30px;
}
.sixthbox {
  display:flex;
    flex:1;
    justify-content: center;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-left:30px;
    margin-right: 30px;
    margin-top:30px;
    height:800px;
    border-radius: 30px;
    font-size:40px;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
    color:rgb(238, 221, 70);
    text-align: center;
    padding:0;
}
.pozacufagure {
  width:300px;
  height: 400px;
}
.fagure {
  object-fit:contain;
  max-width: 250px;
  max-height: 350px;
  margin-top:30px;
}
.Informatii {
  font-size:50px;
  font-weight: bold;
  font-family: 'Martian Mono', monospace;
  color:white;
  display:flex;
  justify-content:space-between;
  border-width:2px;
  -webkit-text-stroke: 1px black;
  margin-left:20px;
  padding-bottom:50px;
}
.stuparul {
  width:600px;
  height:600px;
  border-radius:400px;
  object-fit:cover;
  border:none;
  margin-right:10px;
}
.descriereastuparului {
  font-size:20px;
  color:black;
  margin-top:30px;
  margin-left:10px;
  line-height: 40px;
  font-family: 'Roboto', sans-serif;
  
}
.stoc {
  font-size:15px;
  font-weight: normal;
  font-family: 'Martian Mono', monospace;
  color:rgb(27, 255, 27);
  margin-top:30px;
  margin-bottom:30px;

}
.Recenzii {
  background-color: black;
  opacity:0.5;
  height: 600px;
  color:white;
  display:flex;
  justify-content:start;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  
}
.title-recenzidiv {
  font-size:24px;
  margin-top:20px;
  margin-bottom:40px;
}
.title-recenzi {
  margin-top:20px;
}
.recenziile {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size:50px;
}
.onediv {
  height:400px;
  width:600px;
  border-radius:30px;
  margin:20px;
  margin-right:50px;
  text-align: center;
  background-color: red;
}
.twodiv {
  height:400px;
  width:600px;
  border-radius:30px;
  margin:20px;
  margin-left:50px;
  text-align: center;
  background-color:blue;
}
.h1recenzie {
  font-size:50px;
}
